{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MyProject{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
  <nav>
    <div class="container">
      <div class="company-name">
        <p><a href="{% url 'home' %}">WanderNest (⌐■_■)</a></p>
      </div>
      <div class="menu">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link">Services</a>
            <div class="dropdown-content">
              <a href="{% url 'riding' %}">Riding</a>
              <a href="{% url 'staying' %}">Staying</a>
            </div>
          </li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </div>
      <div class="account">
        <div class="dropdown">
          {% if user.is_authenticated %}
          <button class="dropbtn">Welcome, {{ user.username }} 😇🙏</button>
          {% else %}
          <button class="dropbtn">Join us 👇</button>
          {% endif %}
          <div class="dropdown-content">
            {% if user.is_authenticated %}
            <a href="{% url 'your_profile' %}">Your Profile</a>
            {% if profile.category.name == 'Driver' %}
            <a href="{% url 'dashboard_driver' %}">Dashboard</a>
            {% elif profile.category.name == 'Rider' %}
            <a href="{% url 'dashboard_rider' %}">Dashboard</a>
            {% elif profile.category.name == 'Owner' %}
            <a href="{% url 'dashboard_owner' %}">Dashboard</a>
            {% elif profile.category.name == 'Tenant' %}
            <a href="{% url 'dashboard_tenant' %}">Dashboard</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div>
    {% block content %}
    {% endblock %}
 </div>

<footer>
  <div>
   <p><b>Address</b><br>
    &#128222; +91 9510691600 <br>
    &#128188; Pune, Maharashtra, India</p>
    &copy; 2024 WanderNest
  <div>
</footer>
</body>
</html>