{% extends 'base.html' %}

{% block title %}Dashboard - My Website{% endblock %}

{% block content %}
<!-- Content for home page -->
<!--
    <h1>Welcome to the Dashboard, {{ user.username }}</h1>
    <p>Your Category: {{ user.profile.category }}</p>
    <h2>Welcome, {{ user.username }}</h2>
-->
<form>
    <div class="dashboard-container">
        <div class="dashboard-header">
          <h1>Welcome to the Rider Dashboard, {{ user_data.username }} 😇🙏</h1>
          <p>Your Profile Category: {{ user_data.profile_name }}</p>
        </div>
        <div class="dashboard-content">
          <p>Name: {{ user_data.name }}</p>
          <p>Birth Date: {{ user_data.birth_date }}</p>
          <p>Gender: {{ user_data.gender }}</p>
          <p>Email: {{ user_data.email }}</p>
          <!-- Add specific content for the rider dashboard -->
        </form>
        
          <h2>Available Service Rides</h2>
        <ul>
            {% for ride in service_rides %}
                <li>
                    🚗🏍️{{ ride.driver }} is going
                    {{ ride.current_location }} to {{ ride.destination_location }}
                    <form method="post" action="{% url 'send_request' ride.id %}">
                        {% csrf_token %}
                        <button type="submit">Request</button>
                    </form>
                </li>
            {% empty %}
                <li>No available service rides currently.</li>
            {% endfor %}
        </ul>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        </div>
        <div class="dashboard-footer">
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    <p>This is your user dashboard.</p>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
