{% extends 'base.html' %}
{% block title %}View Rental Properties{% endblock %}
{% block content %}
<form>
<div class="view-properties-container">
  <h2>Your Rental Properties</h2>
  {% if rental_properties %}
    <ul>
      {% for property in rental_properties %}
        <li>
          <p>Address: {{ property.address }}</p>
          <p>Number of Rooms: {{ property.num_rooms }}</p>
          <img src="{{ property.photo.url }}" alt="Property Photo" style="align-items: center;">
          <!-- Add other property details -->
          {% if user_data.profile_name == 'Tenant' %}
            <a href="{% url 'view_applications' %}">View Applications</a>
          {% endif %}
          <hr>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No rental properties found.</p>
  {% endif %}
</div>
</form>
{% endblock %}
