{% extends 'base.html' %}

{% block title %}About - My Website{% endblock %}

{% block content %}
<!-- Content for home page -->
<h1>About</h1>
<hr>
<div class="container">
    <div class="about">
        <h2>About Us</h2>
        <p>Welcome to the About Us page! We are dedicated to providing you with the best information about our
            company.</p>
        <p>The Idea of WanderNest has come from real life experience in which so many people needs a ride for a distance and sometimes they did not get cabs services so they can find a way to interact with vehicle owner(driver) through it.</p>
        <p>And the similar for the staying purpose,sometime people who travels get stuck while traveling and do not get staying services like hotels .So They can interact with house owner and get services through it.</p>
    </div>
</div>
{% endblock %}
