<!-- dashboard_tenant.html -->
{% extends 'base.html' %}
{% block title %}Tenant Dashboard{% endblock %}
{% block content %}

<div class="dashboard-container"><form style="max-width: 1000px;">
  <div class="dashboard-header">
    <h1>Welcome to the Tenant Dashboard, {{ user_data.username }} 😇🙏</h1>
    <p>Your Profile: {{ user_data.profile_name }}</p>
  </div>
  <div class="dashboard-content">
    <p>Name: {{ user_data.name }}</p>
    <p>Birth Date: {{ user_data.birth_date }}</p>
    <p>Gender: {{ user_data.gender }}</p>
    <p>Email: {{ user_data.email }}</p>
    <!-- Add specific content for the tenant dashboard -->
  </div>
</form>

<form>
  <div class="dashboard-content">
    <h2>Available Rental Properties</h2>
    {% if rental_properties %}
      {% for property in rental_properties %}
        <p>Address: {{ property.address }}</p>
        <p>Number of Rooms: {{ property.num_rooms }}</p>
        <img src="{{ property.photo.url }}" alt="Property Photo">
        <!-- Add other property details -->
        <br><a href="{% url 'apply_for_property' property.id %}">Apply</a>
        <hr>
      {% endfor %}
    {% else %}
      <p>No available rental properties found.</p>
    {% endif %}
    <a href="{% url 'view_applications' %}">View Applications</a>
  </div>
</form>

<!--
  <div class="view-applications-container">
    <h2>Applications</h2>
    {% if applications %}
      <ul>
        {% for application in applications %}
          <li>
            <p>Tenant: {{ application.tenant.username }}</p>
            <p>Status: {{ application.status }}</p>
            {% if user_data.profile_name == 'Tenant' %}
              {% if application.status == 'Pending' %}
                <!-- Show additional options for Tenant, if any --
              {% else %}
                {% if application.status == 'Approved' %}
                  <p>Your application for property at {{ application.rental_property.address }} has been approved.</p>
                {% elif application.status == 'Rejected' %}
                  <p>Your application for property at {{ application.rental_property.address }} has been rejected.</p>
                {% endif %}
              {% endif %}
            {% endif %}
            <hr>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No applications found.</p>
    {% endif %}
  </div>-->



  
  <div class="dashboard-footer">
    <a href="{% url 'logout' %}">Logout</a>
  </div>
</div>
{% endblock %}
