{% extends 'base.html' %}
{% load static %}
{% block title %}Home - My Website{% endblock %}

{% block content %}
<div class="custom-image-container" style="height: 558px;">
    <img src="{% static 'images/home.jpeg' %}" alt="Home Image" class="custom-image" style="width: 700px; height: 700px;">
</div>
<!-- Content for home page -->
<marquee class="marq" bgcolor="Green" direction="right" loop="" scrollamount="12"> 
    <div class="wn"> 
   <h1>Welcome to WanderNest</h1>
    </div> 
</marquee>

<hr>



<!-- Blog Post 1 -->
<div class="blog-post">
    <h1>Wandernest</h1>
<article>
    <p>WanderNest - Wonderful for moments provides services like Riding and Staying where person can get ride through vehicles provided by driver and can get shelter (house) for moments.Basically there are two concepts that is Hitchhiking and Couchsurfing .The primary object of Wandernest is provide service of Hitchhiking and Couchsurfing at free of cost.Riding that is gained by asking individuals, usually strangers, for a ride in their car or other vehicle and the practice of travelling around and staying with people you do not know, who advertise their homes on the internet.</p>
    <p>Concepts like Couchsurfing and Hitchhiking Hitchhikers use a variety of signals to indicate they need a ride. Indicators can be physical gestures or displays including written signsCouchsurfing is a service that connects members to a global community of travelers. Use Couchsurfing to find a place to stay or share your home and hometown with travelers.Couchsurfers organize regular events in 200,000 cities around the world. There's always something to do and new friends to meet.</p>
</div>
<div class="custom-image-container" style="height: 558px;">
    <img src="{% static 'images/4.png' %}" alt="Home Image" class="custom-image" style="width: 700px; height: 700px;">
</div>
<div class="blog-post">
    <h2>RIDING</h2>
    <p>Riding is the concept of Hitchhiking in which there is rider who needs a ride to reach to a location and asking for ride through vechicle provided by driver.Driver provide a ride to rider and drop him/her.In real world they indicate for ride using physical gesture but through WanderNest thet can interact with eachother easily</p>
</div>
<div class="custom-image-container" style="height: 558px;">
    <img src="{% static 'images/1.png' %}" alt="Home Image" class="custom-image" style="width: 700px; height: 700px;">
</div>
<!-- Blog Post 2 -->
<div class="blog-post">
    <h2>Situation 1 for Riding</h2>
    <p>Here 'A' is the current location of driver and 'C' is the Destination location of driver and is heading toward 'C'.'B' is the current location of rider and wants to reach 'C' Destination for both are same.Hence they can interact with eachother.</p>
</div>
<div class="custom-image-container" style="height: 558px;">
    <img src="{% static 'images/2.png' %}" alt="Home Image" class="custom-image" style="width: 700px; height: 700px;">
</div>
<div class="blog-post">
    <h2>Situation 2 for Riding</h2>
    <p>Here 'A' is the current location of driver and 'D' is the Destination location of driver and is heading toward 'D'.'B' is the current location of rider and wants to reach 'C' Destination and intial location of rider comes in between .Hence they can interact with eachother.</p>
</div>
<div class="custom-image-container" style="height: 558px;">
    <img src="{% static 'images/3.png' %}" alt="Home Image" class="custom-image" style="width: 700px; height: 700px;">
</div>

<div class="blog-post">
    <h2>Situation 3 for Riding</h2>
    <p>Here 'A' is the current location of driver and 'C' is the Destination location of driver and is heading toward 'C'.'A' is the current location of rider and wants to reach 'B'.Current location of driver and driver are same and Destination location of rider comes in between.Hence they can interact with eachother.</p>
</div>

<div class="blog-post">
    <h2>STAYING</h2>
    <p>Staying is the concept of CouchSurfing in which a hospitality exchange service by which users can request free short-term homestays or interact with other people who are interested in travel. There is a tanent who need a shelter for a while(for some time) and Owner has a extra rooms and wants to provide staying service to tanent.They can interact with eachother.</p>
</div>
<div class="custom-image-container" style="height: 558px;">
    <img src="{% static 'images/5.png' %}" alt="Home Image" class="custom-image" style="width: 700px; height: 700px;">
</div>



<div class="container">
    <!--<h1>Welcome to Our Website</h1> -->
    <div class="box">
        <h2>About Us</h2>
        <p>WanderNest - Wonderful for moments provides services like Riding and Staying where person can get ride through vehicles provided by driver and can get shelter (house) for moments.</p>
    </div>
    <div class="box">
        <h2>Services</h2>
        <p>Riding that is gained by asking individuals, usually strangers, for a ride in their car or other vehicle and the practice of travelling around and staying with people you do not know, who advertise their homes on the internet.</p>
    </div>
    <div class="box">
        <h2>Contact Us</h2>
        <p>Email: enterdevang@gmail.com <br>Phone: +91 9510691600  <br> Address:Pune, Maharashtra, India</p>
    </div>
</div>


{% endblock %}
