{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>User Login</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!--
    <label for="category">Select Category:</label>
        <select id="category" name="category">
            <option value="Driver">Driver</option>
            <option value="Rider">Rider</option>
            <option value="Owner">Owner</option>
            <option value="Tenant">Tenant</option>
        </select>
    -->
    <button type="submit">Login</button>
</form>
<p>Hint: un="user1" pass="user1password"</p>
<p>If you are an admin then cllich <a href="/admin/">here</a> (Hint: un="admin" pass="admin")</p>
{% endblock %}
