{% extends 'base.html' %}

{% block title %}Riding - My Website{% endblock %}

{% block content %}
<!-- Content for home page -->
<h1>Riding- Hitchhiking</h1>
<div class="container">

    <div class="riding-info">
        <h2>RIDING</h2>
        <p>Riding is the concept of Hitchhiking in which there is rider who needs a ride to reach to a location and asking for ride through vechicle provided by driver.Driver provide a ride to rider and drop him/her.In real world they indicate for ride using physical gesture but through WanderNest thet can interact with eachother easily</p>
        <p>Here you can find information about riding activities:</p>
        <ul>
            <li>Interaction between Driver and Rider</li>
            <li>Driver provides services and Rider Gets it.</li>
            <li>usually for Short-distance</li>
            <li>Approval is reqired for both users</li>
            <li>gets free rides</li>
        </ul>
        <p>Whether you're a beginner or an experienced rider, there's something here for everyone!</p>
    </div>

</div>
{% endblock %}