{% extends 'base.html' %}

{% block title %}Staying - My Website{% endblock %}

{% block content %}
<!-- Content for home page -->
<h1>Staying - Couchsurfing</h1>

<div class="container">

    <div class="staying-info">
        <h2>STAYING</h2>
        <p>Staying is the concept of CouchSurfing in which a hospitality exchange service by which users can request free short-term homestays or interact with other people who are interested in travel. There is a tanent who need a shelter for a while(for some time) and Owner has a extra rooms and wants to provide staying service to tanent.They can interact with eachother.</p>
        <p>Here you can find information about Staying activities:</p>
        <ul>
            <li>Interaction between House owner and Tanent</li>
            <li>Owner provides services and Tanent Gets it.</li>
            <li>usually for Short-period of time</li>
            <li>Approval is reqired for both users</li>
            <li>gets free staying services</li>
        </ul>
        <p>Whether you're a beginner or an experienced rider, there's something here for everyone!</p>
    </div>

</div>
{% endblock %}