{% extends 'base.html' %}
{% block title %}View Applications{% endblock %}
{% block content %}
<form>
<div class="view-applications-container">
  <h2>Applications</h2>
  {% if applications %}
    <ul>
      {% for application in applications %}
        <li>
          <p>Tenant: {{ application.tenant.username }}</p>
          <p>Status: {{ application.status }}</p>
          <!-- Display Rental Property details -->
          <p>Rental Property: {{ application.rental_property.address }}</p>
          <p>Number of Rooms: {{ application.rental_property.num_rooms }}</p>
          {% if application.rental_property.photo %}
            <img src="{{ application.rental_property.photo.url }}" alt="Property Photo">
          {% else %}
            <p>No photo available</p>
          {% endif %}
          <hr>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No applications found.</p>
  {% endif %}
</div>
</form>
{% endblock %}
